<header>
  <h3> Pro Angular by Adam Freeman </h3>
  </header>

<main>

  <nav>
    <h5>01-Data-Binding</h5>
    <a routerLink="/sample1" routerLinkActive="active">01-Interpolation-Binding</a> <br />
    <a routerLink="/sample2" routerLinkActive="active">02-Property-Binding</a> <br />
    <a routerLink="/sample3" routerLinkActive="active">03-Event-Binding</a> <br />
    <a routerLink="/sample4" routerLinkActive="active">04-Two-Way-Binding</a> <br />
    <a routerLink="/sample5" routerLinkActive="active">05-form-data-validation</a> <br />
  </nav>

  <article>
    <router-outlet></router-outlet>
  </article>

</main>

<footer>
  <!-- <hr> -->
</footer>
