<header>
  <h3> Pro Angular by Adam Freeman </h3>
  </header>

<main>

  <nav>
    <h5>01-Data-Binding</h5>
    <a routerLink="/sample1" routerLinkActive="active">01. Interpolation-Binding</a> <br />
    <a routerLink="/sample2" routerLinkActive="active">02. Property-Binding</a> <br />
    <a routerLink="/sample3" routerLinkActive="active">03. Event-Binding</a> <br />
    <a routerLink="/sample4" routerLinkActive="active">04. Two-Way-Binding</a> <br />
    <h5>02-Events</h5>
    <a routerLink="/sample5" routerLinkActive="active">01. Click-NgIf</a> <br />
    <!-- <a routerLink="/sample6" routerLinkActive="active">01-Click-NgIf</a> <br /> -->
    <h5>03-Directives</h5>
    <a routerLink="/sample7" routerLinkActive="active">01. attribute-directives</a> <br />
    <a routerLink="/sample13" routerLinkActive="active">01.1 attribute-directives</a> <br />
    <a routerLink="/sample8" routerLinkActive="active">02. structural-directives</a> <br />
    <h5>04-Forms</h5>
    <a routerLink="/sample9" routerLinkActive="active">01. template-driven-form</a> <br />
    <a routerLink="/sample10" routerLinkActive="active">02. reactive-form</a> <br />
    <h5>05-HTTP-services</h5>
    <a routerLink="/sample11" routerLinkActive="active">01. GitHub-API</a> <br />
    <a routerLink="/sample12" routerLinkActive="active">02. OMDb-API</a> <br />
    <h5>06-Pipes</h5>
    <a routerLink="/sample14" routerLinkActive="active">01. builtin pipes </a> <br />
    <a routerLink="/sample15" routerLinkActive="active">02. async pipe</a> <br />
    <a routerLink="/sample16" routerLinkActive="active">03. custom pipe </a> <br />
    <h5>07-Link-Between-Components</h5>
    <a routerLink="/sample17" routerLinkActive="active">01. Service</a> <br />
    <a routerLink="/sample18" routerLinkActive="active">02. Input-Output</a> <br />
    <a routerLink="/sample19" routerLinkActive="active">03. side-bar toggle</a> <br />
    <a routerLink="/sample20" routerLinkActive="active">04. side-bar toggle service</a> <br />
    <h5>08-Observable</h5>
    <a routerLink="/sample21" routerLinkActive="active">01. base-structure</a> <br />
    <a routerLink="/sample22" routerLinkActive="active">02. disposal-problem</a> <br />
    <a routerLink="/sample23" routerLinkActive="active">03. promise-observable</a> <br />
    <a routerLink="/sample24" routerLinkActive="active">04. event w observable</a> <br />
    <a routerLink="/sample25" routerLinkActive="active">05. cold & hot observable</a> <br />
    <a routerLink="/sample26" routerLinkActive="active">06. replay subject</a> <br />
    <a routerLink="/sample27" routerLinkActive="active">07. HTTP sample</a> <br />
    <a routerLink="/sample28" routerLinkActive="active">08. observable service</a> <br />
    </nav>

  <article>
    <router-outlet></router-outlet>
  </article>

</main>

<footer>
  <!-- <hr> -->
</footer>

